
@{
    ViewData["Title"] = "Movie List";
}

<h1>Index Page</h1>

<h1>This is view for Movie 'Index'</h1>
<h2>My name is @ViewData["Name"],  and my grade is </h2>

<h2>Hello,</h2>
<ul>
    @for (int i =0; i < 10; i++)
    {
        <h3>Hello to Movies Pages</h3>
    }
</ul>

